<!DOCTYPE html>
<html>
<head>
    <title>Inscription</title>
</head>
<body>
    <h1>Inscription</h1>
    {{ form_start(form) }}
        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div>
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
        </div>
        <div>
            {{ form_label(form.phoneNumber) }}
            {{ form_widget(form.phoneNumber) }}
        </div>
        <div>
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles) }}
        </div>
        <div>
            <button type="submit">S'inscrire</button>
        </div>
    {{ form_end(form) }}
</body>
</html>
